
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  overflow-x: hidden;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  justify-content: space-between;
  
}

.logo-youtube {
  cursor: pointer;
}

.header-left, .header-right, .header-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-right {
  flex-shrink: 0; /* flex-shrink defineix quan pot reduirse un element flex quan no hi ha espai suficient al contenidor, posant 0 evita que es contraigui*/
}
.header-mid{
  flex: 1;
  min-width: 0;
  flex-shrink: 1;/* posant 1 l'element es reduiex proporcionalment i fa que es redueixi quan faig petita la pagina*/
}

header input {
  padding: 14px;
  width: 100%;
  border-radius: 300px;
  font-size: 17px;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1; /*flex 1 fa que ocupi tot l'espai disponible dins el div flex */
}

.search-container {
  display: flex;
  padding: 0px;
  width: 100%;
  max-width: 620px;
  border-radius: 300px;
  height: 40px;
  border: 0.5px solid #333333;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.search-logo {
  height: 100%;
  width: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  border-left: 1px solid #333333;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}

.search-logo svg {
  margin-left: -6px;
  height: 29px;
  width: 28px;
  cursor: pointer;
}

.search-only-logo , .listener-only-logo {
  display: none; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  margin-left: -16px;
  margin-right: -5px
}

.search-only-logo svg {
  height: 29px;
  width: 28px;
}

.notifications:hover{
  background-color: #3f3f3f;
}

.listener , .user-profile, .notifications {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 360px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.listener {
  background-color: #272727;
}

.listener:hover{
  background-color: #3f3f3f;
}

.user-profile {
  background-color: #502ca6;
  font-size: 20px;
}

.user-profile:hover{
  background-color: #6d3ddf;
}

.user-text {
  font-weight: bold;
}

.create-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  border-radius: 360px;
  width: 96px;
  height: 35px;
  padding: 1px;
  font-size: 15px;
  cursor: pointer;
}

.create-add:hover{
  background-color: #3f3f3f;
}

.create-add svg {
  margin-right: -2px;
  margin-left: -7px;
}

.container {
  display: flex;
  margin-top: 60px; 
  height: calc(100vh - 60px);
  overflow: hidden;
}


nav {
  width: 206px;
  background-color: #0f0f0f;
  padding: 10px 20px 20px 20px;
  color: white;
  overflow-y: auto; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
  gap: 43px;
  border-radius: 10px;
  padding: 10px;
}

.block1-navlist, .block3-navlist, .block4-navlist, .block5-navlist, .block6-navlist, .block7-navlist {
  border-bottom: 0.5px solid #333333;
  padding-bottom: 10px;
  width: 100%;
}

.block2-navlist, .block7-navlist {
  padding-top: 10px;
}

.title-navlist {
  padding-top: 18px;
  padding-bottom: 10px;
  margin-left: 9px;
  font-weight: bold;
  font-size: 17px;
}

.menu-text{
  margin-left: -15px;
  font-size: 15px;
  white-space: nowrap;       /* evita que el text salti de linia */
  overflow: hidden;          /* oculta el text que es desborda */
  text-overflow: ellipsis;   /* serveix per posar  "..." al final del text quan hi ha desbordament */
  max-width: 100%;           /* asegura que se limite dentro del contenedor */
  display: inline-block;    
}

.paragraph1, .paragraph2 {
  display: block; 
  width: 100%;   
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
  white-space: normal;          
  overflow-wrap: break-word;
  margin-bottom: -18px;
}
nav .paragraph1 {
  font-size: 12px;
  font-weight: bold;
  color: rgb(163, 163, 163);
  line-height: 1.5;
}

nav .paragraph2 {
  font-size: 11px;
  line-height: 1.5;
  color: gray;
  margin-bottom: -8px;
}
nav li:hover {
  background-color: #272727;
}

.first-svg {
  display: none; 
}

.second-svg {
  display: inline-block; 
  margin-left: -37px;
}

.playlist {
  transform: scale(1.5); /* per ajustar la mida del svg sense alterar el div*/
  transform-origin: center; /* això determina desde on variarà el que escalis, en aquest cas desdel centre del svg*/
  margin-left: 4px;
}

.stream-logo, .flag {
  transform: scale(1.40);
  transform-origin: center;
}

.youtube-music {
  transform: translate(2px, 2px) scale(1.40);
  transform-origin: center;
}

.youtube-studio {
  transform: scale(1.20);
  transform-origin: center;
}

.youtube-kids {
  width: 24px;
  height: 24px;
}

.menu-header {
  width: 35px;
  height: 35px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
}

.menu-header:hover {
  background-color: #272727;
}


main {
  flex: 1;
  background-color: #0f0f0f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  overflow-y: auto; /*l'overflow controla el contingut que es desborda en l'eix vertical, posant auto faig que es pugui fer scroll si cal*/
}


.video-card {
  height: auto; /*poso auto per que respecti l'aspect-ratio*/
  aspect-ratio: 16/ 9; /* hem manté una proporció per tal que no és deformi tant quan ajusto la finestra*/
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.video-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.video-card h4{
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

.video-card p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #aaaaaa;
}


@media (max-width: 1400px) {
  nav {
    width: 70px;
    padding: 10px;
    margin-right: -16;
  }

  .user-text{
    font-size: 10px;
  }

  .menu-text {
    display: block;
    font-size: 10px;
    margin-left: 1px;
  }

  nav li {
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    gap: 6px;
  }

  main {
    grid-template-columns: repeat(2, 1fr); /*només vull 3 vinyetes de costat quan està a aquesta mida*/
  }

  .video-card {
    max-width: 100%;
  }
  .first-svg {
    display: inline-block;  
  }

  .second-svg {
    display: none;  
  }

  .block3-navlist, .block4-navlist, .block5-navlist, .block6-navlist, .block7-navlist, .block8-navlist, .title-navlist {
    display: none;
  }

  .block1-navlist {
    border-bottom: none;
    padding-bottom: 0;
  }

  .block2-navlist {
    padding-top: 0;
  }

  .menu-text-suscriptions {
    font-size: 9px;
    max-width: 100%;
    display: inline-block; 
    margin-left: -5px;
    overflow: inherit;
  }

  .block1-navlist, .block2-navlist {
    padding: 0;
  }

}

@media (min-width: 1000px) {
  .search-container {
    width: 620px;
  }
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .search-container, .listener {
    display: none;
  }

  .search-only-logo , .listener-only-logo {
    display: flex;
  }
  main {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}



