
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  justify-content: space-between;
  
}

.logo-youtube {
  cursor: pointer;
}

.header-left, .header-right, .header-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-right, .header-left {
  flex-shrink: 0; /* flex-shrink defineix quan pot reduirse un element flex quan no hi ha espai suficient al contenidor, posant 0 evita que es contraigui*/
}
.header-mid{
  min-width: 0;
  flex-shrink: 1;/* posant 1 l'element es reduiex proporcionalment i fa que es redueixi quan faig petita la pagina*/
}

.sub-menu {
  position: fixed; 
  top: 70px; 
  margin-left: 285px; 
  width: calc(100% - 285px);  /*amba això faig que ocupi la resta de la pagina */
  display: flex;
  gap: 12px;
  white-space: nowrap; /* Evita salts de línea */
  overflow-x: hidden;
  cursor: pointer;
}

.categories, .categories-2 {
  background-color: #272727;
  color: rgb(247, 247, 247);
  border-radius: 5px;
  height: 25px;
  align-content: center;
  font-size: 14px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.categories-2 {
  background-color: white;
  color: #333333;
}

header input {
  padding: 14px;
  width: 100%;
  border-radius: 300px;
  font-size: 17px;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1; /*flex 1 fa que ocupi tot l'espai disponible dins el div flex */
}

.search-container {
  display: flex;
  padding: 0px;
  width: 100%;
  max-width: 620px;
  border-radius: 300px;
  height: 40px;
  border: 0.5px solid #333333;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.search-logo {
  height: 100%;
  width: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  border-left: 1px solid #333333;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}

.search-logo svg {
  margin-left: -6px;
  height: 29px;
  width: 28px;
  cursor: pointer;
}

.search-only-logo , .listener-only-logo {
  display: none; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  margin-left: -16px;
  margin-right: -5px
}

.search-only-logo svg {
  height: 29px;
  width: 28px;
}

.notifications:hover{
  background-color: #3f3f3f;
}

.listener , .user-profile, .notifications {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 360px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  position: relative;
}

.user-profile{
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
}

.listener {
  background-color: #272727;
}

.listener:hover{
  background-color: #3f3f3f;
}

.user-profile {
  background-color: #502ca6;
  font-size: 20px;
}

.user-profile:hover{
  background-color: #6d3ddf;
}

.user-text {
  font-weight: bold;
}

.create-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  border-radius: 360px;
  width: 96px;
  height: 35px;
  padding: 1px;
  font-size: 15px;
  cursor: pointer;
  gap:5px;
}

.create-add:hover{
  background-color: #3f3f3f;
}

.create-add svg {
  margin-right: -2px;
  margin-left: -7px;
}

.container {
  display: flex;
  margin-top: 60px; 
  height: calc(100vh - 60px);
  overflow: hidden;
}

nav {
  width: 220px;
  background-color: #0f0f0f;
  padding: 10px 20px 20px 20px;
  color: white;
  overflow-y: auto; 
  height: 100%;
  overflow-y: hidden; 
  scrollbar-width: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
  gap: 43px;
  border-radius: 10px;
  padding: 8px;
}

.block1-navlist, .block3-navlist, .block4-navlist, .block5-navlist, .block6-navlist, .block7-navlist {
  border-bottom: 0.5px solid #333333;
  padding-bottom: 10px;
  width: 100%;
}

.block2-navlist, .block7-navlist {
  padding-top: 10px;
}

.title-navlist {
  padding-top: 18px;
  padding-bottom: 10px;
  margin-left: 9px;
  font-weight: bold;
  font-size: 17px;
}

.container-scrollbar {
  height: 100%;
  background: #0f0f0f;
  width: 8px; 
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  margin-right: -11px;
  margin-left: -11px;
}

.scrollbar {
  width: 100%;
  height: 395px;  
  cursor: pointer;
  position: absolute;  /* per moure la barra més tard */
  top: 0;
  opacity: 0;
  background-color: #717171;
  display: hidden;
  transition: top 0s linear; /* en principi per tocar el desplaçament*/
}

.scrollbar:hover {
  display: inline;
  background-color: #8c8c8c;
}

.scrollbar:active {
  background-color: #ececec;
}

nav:hover + .container-scrollbar .scrollbar,
.container-scrollbar:hover .scrollbar {
  opacity: 1;  
}

.menu-text, .menu-text-1 {
  font-size: 14px;
  white-space: nowrap;       /* evita que el text salti de linia */
  overflow: hidden;          /* oculta el text que es desborda */
  text-overflow: ellipsis;   /* serveix per posar  "..." al final del text quan hi ha desbordament */
  max-width: 100%;           /* asegura que se limite dentro del contenedor */
  display: inline-block;    
}

.inicio {
  background-color: #272727;
}

.inicio:hover, .categories:hover {
  background-color: #3f3f3f;
}

.paragraph1, .paragraph2 {
  display: block; 
  width: 100%;   
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
  white-space: normal;          
  overflow-wrap: break-word;
  margin-bottom: -18px;
}
nav .paragraph1 {
  font-size: 12px;
  font-weight: bold;
  color: rgb(163, 163, 163);
  line-height: 1.5;
  cursor: pointer;
}

nav .paragraph2 {
  font-size: 11px;
  line-height: 1.5;
  color: gray;
  margin-bottom: 18px;
}
nav li:hover {
  background-color: #272727;
}

.first-svg {
  display: none; 
}

.second-svg {
  display: inline-block; 
  margin-left: -37px;
}

.playlist {
  transform: scale(1.5); /* per ajustar la mida del svg sense alterar el div*/
  transform-origin: center; /* això determina desde on variarà el que escalis, en aquest cas desdel centre del svg*/
  margin-left: 4px;
}

.stream-logo, .flag {
  transform: scale(1.40);
  transform-origin: center;
}

.youtube-music {
  transform: translate(2px, 2px) scale(1.40);
  transform-origin: center;
}

.youtube-studio {
  transform: scale(1.20);
  transform-origin: center;
}

.youtube-kids {
  width: 24px;
  height: 24px;
}

.menu-header {
  width: 35px;
  height: 35px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-header:hover {
  background-color: #272727;
}

main {
  flex: 1;
  background-color: #0f0f0f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  overflow-y: auto; /*l'overflow controla el contingut que es desborda en l'eix vertical, posant auto faig que es pugui fer scroll si cal*/
  margin-top: 53px;
}


.video-card {
  height: auto; /*poso auto per que respecti l'aspect-ratio*/
  aspect-ratio: 16/ 9; /* hem manté una proporció per tal que no és deformi tant quan ajusto la finestra*/
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.video-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.video-card h4{
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

.video-card p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #aaaaaa;
}

/* classes per quan fem click al menuheader*/
/* Estilos para cuando activamos el modo reducido con el botón */
nav.reduced-mode {
  width: 70px;
  padding: 10px;
  margin-left: -5px;
}

nav.reduced-mode .user-text,
nav.reduced-mode .menu-text {
  font-size: 10px;
}

nav.reduced-mode .menu-text {
  display: block;
  margin-left: 1px;
}

nav.reduced-mode li {
  justify-content: center;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

nav.reduced-mode .video-card {
  max-width: 100%;
}

nav.reduced-mode .first-svg {
  display: inline-block;
}

nav.reduced-mode .second-svg,
nav.reduced-mode .block3-navlist,
nav.reduced-mode .block4-navlist,
nav.reduced-mode .block5-navlist,
nav.reduced-mode .block6-navlist,
nav.reduced-mode .block7-navlist,
nav.reduced-mode .block8-navlist,
nav.reduced-mode .title-navlist {
  display: none;
}

nav.reduced-mode .block1-navlist,
nav.reduced-mode .block2-navlist {
  padding: 0;
  border-bottom: none;
}

nav.reduced-mode .menu-text-suscriptions {
  font-size: 9px;
  max-width: 100%;
  display: inline-block;
  margin-left: -6px;
  overflow: inherit;
}

.container-scrollbar.reduced-mode {
  display: none;
}

.sub-menu.reduced-mode {
  margin-left: 122px;
  width: calc(100% - 122px);
}

/* estils per els menu's desplegables al fer click */

#user-menu {
  width: 300px;
  height: 799px;
  z-index: 1000;
  background-color: #272727;
  position: absolute;
  top: 50px;
  right: 19px;
  border-radius: 12px;
}

#user-menu .block-menu {
  margin-bottom: 20px;
  margin-top: 10px;
}

#user-menu .block-item {
  padding: 15px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
}

.block-item-text-container {
  display: flex;
  flex-direction: column; 
  margin-top: 10px;
}

#user-menu .user-profile-block {
  background-color: #502ca6;
  font-size: 24px;
  width: 50px;
  height: 41px;
  border-radius: 360px;
  text-align: center;
  align-content: center;
  position: relative;
  margin-left: -2px;
  top: -10px;
} 

#user-menu .menu-block1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#user-menu .menu-item, #add-menu .add-menu-item  {
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 14px;
}

#user-menu .menu-separator {
  height: 0.5px;
  background-color: #3f3f3f;
  margin: -3px 0; 
}

#user-menu .menu-item:hover , #add-menu .add-menu-item:hover  {
  background-color: #3f3f3f;
}

.svg-left, .svg-right {
  width: 24px;
  height: 24px;
}

.svg-right {
  margin-left: auto;      
}

.menu-item-text {
  flex: 1;
  text-align: left;
  padding-left: 12px; 
  font-size: 14px;
}
.block-item-text {
  flex: 1;
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.block-text {
  color: #359dff;
  cursor: pointer;
  padding-left: 0;
  margin-left: 5px;
  font-size: 15px;
}

/* CreateAdd menu */

#add-menu {
  height: 150px;
  width: 215px;
  background-color: #272727;
  position: absolute;
  top: 50px;
  right: 20px;
  border-radius: 12px;
}

.add-menu-item:first-child {
  margin-top: 10px; 
}

.add-menu-item:last-child {
  margin-bottom: 10px; 
}

/*responsive*/

@media (min-width: 2560px) {

}


@media (max-width: 1400px) {
  nav {
    width: 70px;
    padding: 10px;
    margin-left: -5px;
  }

  .user-text{
    font-size: 10px;
  }

  .menu-text {
    display: block;
    font-size: 10px;
    
  }

  nav li {
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    gap: 6px;
  }

  main {
    grid-template-columns: repeat(2, 1fr); /*només vull 2 vinyetes de costat quan està a aquesta mida*/
  }

  .video-card {
    max-width: 100%;
  }
  .first-svg {
    display: inline-block;  
  }

  .second-svg {
    display: none;  
  }

  .block3-navlist, .block4-navlist, .block5-navlist, .block6-navlist, .block7-navlist, .block8-navlist, .title-navlist {
    display: none;
  }

  .block1-navlist {
    border-bottom: none;
    padding-bottom: 0;
  }

  .block2-navlist {
    padding-top: 0;
  }

  .menu-text-suscriptions {
    font-size: 9px;
    max-width: 100%;
    display: inline-block; 
    margin-left: -6px;
    overflow: inherit;
  }

  .block1-navlist, .block2-navlist {
    padding: 0;
  }

  .sub-menu {
    margin-left: 122px;
    width: calc( 100% - 122px);
  }

  .container-scrollbar {
    display: none;
  }
}

@media (min-width: 1000px) {
  .search-container {
    width: 620px;
  }
}



@media (min-width: 600px) and (max-width: 1000px) {
  .sub-menu {
    margin-left: 122px;
    width: calc(100% - 122px);
  }
} 

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .search-container, .listener {
    display: none;
  }

  .search-only-logo , .listener-only-logo {
    display: flex;
  }
  main {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
  
  .container-scrollbar {
    display: none;
  }

  .sub-menu{
    margin-left: 14px;
    width: calc(100% - 14px);
  }
}
