
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  overflow-x: hidden;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  justify-content: space-between;
  
}

.logo-youtube {
  cursor: pointer;
}

.header-left, .header-right, .header-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-right {
  flex-shrink: 0; /* flex-shrink defineix quan pot reduirse un element flex quan no hi ha espai suficient al contenidor, posant 0 evita que es contraigui*/
}
.header-mid{
  flex: 1;
  min-width: 0;
  flex-shrink: 1;/* posant 1 l'element es reduiex proporcionalment i fa que es redueixi quan faig petita la pagina*/
}

header input {
  padding: 14px;
  width: 100%;
  border-radius: 300px;
  font-size: 17px;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1; /*flex 1 fa que ocupi tot l'espai disponible dins el div flex */
}

.search-container {
  display: flex;
  padding: 0px;
  width: 100%;
  max-width: 620px;
  border-radius: 300px;
  height: 40px;
  border: 0.5px solid #333333;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.search-logo {
  height: 100%;
  width: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  border-left: 1px solid #333333;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}

.search-logo svg {
  margin-left: -6px;
  height: 29px;
  width: 28px;
  cursor: pointer;
}

.search-only-logo , .listener-only-logo {
  display: none; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  margin-left: -16px;
  margin-right: -5px
}

.search-only-logo svg {
  height: 29px;
  width: 28px;
}
.notifications {
  cursor: pointer;
}

.listener , .user-profile {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 360px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.listener {
  background-color: #272727;
}

.user-profile {
  background-color: #502ca6;
  font-size: 20px;
}

.create-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  border-radius: 360px;
  width: 96px;
  height: 35px;
  padding: 1px;
  font-size: 15px;
  cursor: pointer;
}

.create-add svg {
  margin-right: -2px;
  margin-left: -7px;
}

.container {
  display: flex;
  margin-top: 60px; 
  height: calc(100vh - 60px);
  overflow: hidden;
}


nav {
  width: 200px;
  background-color: #0f0f0f;
  padding: 20px;
  color: white;
  overflow-y: auto;
  
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
  gap: 40px;
  border-radius: 10px;
  padding: 10px;
}

nav li:hover {
  background-color: #272727;
}

.menu-header {
  width: 35px;
  height: 35px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  cursor: pointer;
}

.menu-header:hover {
  background-color: #272727;
}


main {
  flex: 1;
  background-color: #0f0f0f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  overflow-y: auto; /*l'overflow controla el contingut que es desborda en l'eix vertical, posant auto faig que es pugui fer scroll si cal*/
}


.video-card {
  height: auto; /*poso auto per que respecti l'aspect-ratio*/
  aspect-ratio: 16/ 9; /* hem manté una proporció per tal que no és deformi tant quan ajusto la finestra*/
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.video-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.video-card h4{
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

.video-card p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #aaaaaa;
}


@media (max-width: 1400px) {
  nav {
    width: 70px;
    padding: 10px;
  }

  .menu-text {
    display: block;
    font-size: 10px;
  }

  nav li {
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    gap: 6px;
  }
  main {
    grid-template-columns: repeat(2, 1fr); /*només vull 3 vinyetes de costat quan està a aquesta mida*/
  }

  .video-card {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .search-container {
    width: 620px;
  }
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  main {
    padding: 10px;
  }

  .search-container, .listener {
    display: none;
  }

  .search-only-logo , .listener-only-logo {
    display: flex;
  }
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}


